{extend name="common/base"/}
{block name="link"}
<link href="__STATIC__/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
{/block}
{block name="style"}
<style>
    #advanced-search-box .form-group{
        margin-top: 10px;
        margin-bottom: 0;
    }
</style>
{/block}
{block name="body"}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="example-wrap">
                <h4 class="example-title">调查问卷管理</h4>
                <div class="example">
                    <form class="form-horizontal" id="advanced-search-box" style="display: none;">
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6 col-md-4">
                                <label class="col-sm-4 control-label">调查问卷状态</label>
                                <div class="col-sm-8">
                                    <select name="category" class="form-control" onchange="advancedSearch(this)">
                                        <option value="1">草稿</option>
                                        <option value="2">已发布</option>
                                        <option value="3">已过期</option>
                                    </select>
                                </div>
                            </div>
                            <!--<div class="form-group col-xs-12 col-sm-6 col-md-3">-->
                                <!--<label class="col-sm-4 control-label">发布开始时间</label>-->
                                <!--<div class="col-sm-8">-->
                                    <!--<input placeholder="开始日期" class="form-control layer-date"  required="" aria-required="true" name="time[0]" id="start" autocomplete="off">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group col-xs-12 col-sm-6 col-md-3">-->
                                <!--<label class="col-sm-4 control-label">发布结束时间</label>-->
                                <!--<div class="col-sm-8">-->
                                    <!--<input placeholder="结束日期" class="form-control layer-date"  required="" aria-required="true" name="time[1]" id="end" autocomplete="off">-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                    <button type="button" onclick="advancedSearch()" class="btn btn-primary btn-sm">提交</button>
                                    <button type="reset" class="btn btn-default btn-sm">重置</button>
                            </div>
                        </div>
                    </form>

                    <div id="toolbar" class="btn-group">
                        <button type="button" class="btn btn-outline btn-default" onclick="dialog('新增', '{:url(\'survey/add\')}', 800, 450)">
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-outline btn-default" id="delete-row" disabled>
                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="columns-right pull-right" style="margin-top:10px;margin-bottom:10px;">
                        <button class="btn btn-default btn-outline" id="advanced-search"
                                data-toggle="tooltip"
                                data-placement="top"
                                data-original-title="高级搜索"
                        ><i class="fa fa-search"></i></button>
                    </div>
                    <table id="grid"  data-toggle="table" class="table-bordered ">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    var flg = true;
    var searchTip = '请输入待查询问卷的标题';
    var columns = [{
        checkbox: true,
        visible: true                  //是否显示复选框
    }, {
        field: 'id',
        title: '序号',
        sortable: false
    }, {
        field: 'title',
        title: '问卷标题',
        sortable: false
    }, {
        field: 'start_time',
        title: '开始时间',
        sortable: false
    }, {
        field: 'end_time',
        title: '结束时间',
        sortable: false
    }, {
        field: 'survey_user',
        title: '问卷对象',
        sortable: false,
        formatter: function(value,row,index) {
            return row.survey_user == 1 ? '匿名' : ( row.survey_user == 2 ? '学生' : ( row.survey_user == 3 ? '教师' : '学生和教师' ));
        }
    }, {
        field: 'status',
        title: '状态',
        sortable: false,
        formatter: function(value,row,index) {
            var now_at = new Date();
            var end_time = new Date(Date.parse(row.end_time));
            if (row.status == 1) {
                if (end_time < now_at) {
                    return '已过期';
                } else {
                    return '草稿';
                }
            } else {
                return '已发布';
            }
        }
    }, {
        field: 'created_at',
        title: '创建时间',
        sortable: false
    }, {
        field: 'do',
        title: '操作',
        formatter: function(value,row,index) {
            var e = "<a onclick=jump(" + row.id +",'update','编辑',true)>编辑</a>&nbsp;";
                // e += "<a onclick=window.location='{:url(\"topic/index\")}'>题目</a>&nbsp;";
                e += "<a onclick=locationJump(" + row.id +",\"{:url('topic/index',array('id'=>'P_id'))}\")>题目</a>&nbsp;";
                e += "<a onclick=jump(" + row.id +",'release','发布')>发布</a>&nbsp;";
                e += "<a onclick=locationJump(" + row.id +",\"{:url('result/index',array('id'=>'P_id'))}\")>结果</a>&nbsp;";
                e += "<a onclick=jump(" + row.id +",'delete','删除')>删除</a>";
            return e;
        }
    }];
    var table = new BSTable('grid', "{:url('survey/index')}", columns, searchTip);
    table.setPaginationType('server');
    table.init();


    $('#advanced-search').on('click', function () {
        if (flg === true) {
            $('#advanced-search-box').show();
            flg = false;
        } else {
            $('#advanced-search-box').hide();
            flg = true;
        }
    });

    //自定义搜索
    function advancedSearch(obj) {
        var formData = {};
        if ('undefined' == typeof obj) {
            formData = $('form').serializeObject()
            formData['time'] = $('#date-range').val();
        } else {
            formData['category'] = $(obj).val();
        }
        var params = {
            query: formData
        };
        table.refresh(params)
    }

    function jump(id, type, name, isDialog) {
        var url = "";
        if (isDialog) {
            url = "{:url('survey/type',array('id'=>'P_id'))}";
            url =  url.replace("type",type);
            url =  url.replace("P_id",id);
            dialog(name, url, 800, 450);
        } else {
            url = "{:url('survey/type')}";
            url =  url.replace("type",type);
            if (type == 'release') {
                ajaxToDelete(url, id,'发布', '是否确定发布当前问卷')
            } else {
                ajaxToDelete(url, id)
            }
        }
    }

    function locationJump(id, url)
    {
        url =  url.replace("P_id",id);
        window.location = url;
    }
    removeAll('grid', 'delete-row', "{:url('survey/delete')}");
</script>
{/block}